CursoPython/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Ejercicios/.ipynb_checkpoints/*
