CursoPython/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/Ejercicios/.ipynb_checkpoints/*
