CursoPython/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 01 - Introduccion informal/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 02 - Operadores y expresiones/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 1 - Fundamentos de programacion/Tema 03 - Controlando el flujo/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 04 - Colecciones de datos/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 05 - Entradas y salidas de datos/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 05 - Entradas y salidas de datos/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 05 - Entradas y salidas de datos/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 06 - Programacion de funciones/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 06 - Programacion de funciones/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 06 - Programacion de funciones/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 07 - Gestion de errores/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 07 - Gestion de errores/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 2 - Manejo de datos y optimizacion/Tema 07 - Gestion de errores/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 08 - Programacion Orientada a Objetos/.ipynb_checkpoints/*
CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 08 - Programacion Orientada a Objetos/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 09 - Herencia en la POO/.ipynb_checkpoints/*
CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 09 - Herencia en la POO/Apuntes/.ipynb_checkpoints/*
CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 09 - Herencia en la POO/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 10 - Metodos de las colecciones/.ipynb_checkpoints/*
CursoPython/Fase 3 - Programacion Orientada a Objetos/Tema 10 - Metodos de las colecciones/Ejercicios/.ipynb_checkpoints/*

CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/.ipynb_checkpoints/*
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/dist/*
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete.egg-info/*
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete/__init__.py
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete/adios/__init__.py
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete/adios/__pycache__/*
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete/hola/__init__.py
CursoPython/Fase 4 - Temas avanzados/Tema 11 - Modulos/Leccion 02 - Paquetes/paquete/hola/__pycache__/*



